@tailwind base;
@tailwind components;
@tailwind utilities;

dialog:modal {
  min-width: 100vw;
  min-height: 100vh;
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}
